name: Build qView
on:
  push:
    branches: '*'
  pull_request:
  workflow_dispatch:
    inputs:
      codeSign:
        type: boolean
        description: 'Code Signing'
jobs:
  build:
    strategy:
      matrix:
        include:
          - runner: 'ubuntu-22.04'
            qtVersion: '6.9.3'
            qtModules: 'qtimageformats'
            osSuffix: '_x86_64'
            buildArch: 'X64'
          - runner: 'ubuntu-24.04-arm'
            qtVersion: '6.9.3'
            qtModules: 'qtimageformats'
            osSuffix: '_aarch64'
            buildArch: 'Arm64'
          - runner: 'macos-26'
            qtVersion: '6.9.3'
            qtModules: 'qtimageformats'
            buildArch: 'Universal'
          - runner: 'macos-15'
            qtVersion: '6.7.3'
            osSuffix: '_legacy'
            qtModules: 'qtimageformats'
            buildArch: 'Universal'
          - runner: 'windows-2022'
            qtVersion: '6.9.3'
            qtArch: 'win64_msvc2022_64'
            osSuffix: '_64'
            qtModules: 'qtimageformats'
            buildArch: 'X64'
          - runner: 'windows-2022'
            qtVersion: '6.9.3'
            qtArch: 'win64_msvc2022_arm64_cross_compiled'
            osSuffix: '_arm64'
            qtModules: 'qtimageformats'
            buildArch: 'Arm64'
    runs-on: ${{ matrix.runner }}
    env:
      AUTOSIGN_REQUESTED: ${{ github.ref == 'refs/heads/master' }}
      CAN_AUTOSIGN_MACOS: ${{ secrets.APPLE_DEVID_APP_CERT_DATA != '' }}
      CAN_AUTOSIGN_WINDOWS: ${{ vars.AZURE_SIGNING_CERTIFICATE != '' }}
    steps:
      - name: Set environment variables
        shell: bash
        run: |
          echo "buildArch=${{ matrix.buildArch }}" >> $GITHUB_ENV
          buildNum=$(date '+%Y-%m-%d').${GITHUB_SHA::7}
          echo "nightlyDefines=NIGHTLY=$buildNum" >> $GITHUB_ENV
          echo "buildNumString=$buildNum" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Qt
        uses: jdpurcell/install-qt-action@v5
        with:
          version: ${{ matrix.qtVersion }}
          arch: ${{ matrix.qtArch }}
          modules: ${{ matrix.qtModules }}
          cache: true
          use-naqt: true
          setup-python: false

      - name: Build qView
        shell: pwsh
        run: dist/scripts/build.ps1

      - name: Signing (Windows)
        if: runner.os == 'Windows' && (inputs.codeSign || (env.AUTOSIGN_REQUESTED == 'true' && env.CAN_AUTOSIGN_WINDOWS == 'true'))
        uses: azure/trusted-signing-action@v0
        with:
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          endpoint: ${{ vars.AZURE_ENDPOINT }}
          trusted-signing-account-name: ${{ vars.AZURE_SIGNING_ACCOUNT }}
          certificate-profile-name: ${{ vars.AZURE_SIGNING_CERTIFICATE }}
          files-folder: ${{ github.workspace }}\bin
          files-folder-filter: exe,dll
          files-folder-recurse: true
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA256

      - name: Download Plugins
        if: ${{ matrix.skipPlugins != 'true' }}
        shell: pwsh
        run: dist/scripts/download-plugins.ps1

      - name: Deploy qView
        env:
          APPLE_NOTARIZE_REQUESTED: ${{ inputs.codeSign || (env.AUTOSIGN_REQUESTED == 'true' && env.CAN_AUTOSIGN_MACOS == 'true') }}
          APPLE_DEVID_APP_CERT_DATA: ${{ secrets.APPLE_DEVID_APP_CERT_DATA }}
          APPLE_DEVID_APP_CERT_PASS: ${{ secrets.APPLE_DEVID_APP_CERT_PASS }}
          APPLE_ID_USER: ${{ secrets.APPLE_ID_USER }}
          APPLE_ID_PASS: ${{ secrets.APPLE_ID_PASS }}
        shell: pwsh
        run: |
          if ($IsWindows) {
            & dist/scripts/windeployqt.ps1 ${{ env.buildNumString }}
          } elseif ($IsMacOS) {
            & dist/scripts/macinstallcert.ps1
            bash dist/scripts/macdeploy.sh ${{ env.buildNumString }} ${{ matrix.osSuffix }}
          } else {
            bash dist/scripts/linuxdeployqt.sh ${{ env.buildNumString }}
          }

      - name: Upload Artifact
        uses: actions/upload-artifact@v5
        with:
          name: qView-JDP-${{ env.buildNumString }}-${{ runner.os }}${{ matrix.osSuffix }}
          path: bin
